mycode/__pycache__/*
mycode/__pycache__/*
mycode/__pycache__/models.cpython-312.pyc
.DS_Store
mycode/__pycache__/test_insert_data.cpython-312-pytest-8.2.2.pyc
mycode/__pycache__/models.cpython-312.pyc
